@using EasyPark.Models
@model Funcionario
@{
    ViewBag.Title = "Alterar Funcionario";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div>
    @using (Html.BeginForm("AlterarFuncionario", "Funcionario", FormMethod.Post, new { @class = "form-horizontal" }))
    {
    <fieldset>
        <legend>Alterar Funcionario</legend>
        @Html.ValidationSummary(true, null, new { @class = "text-danger" })
        @Html.HiddenFor(model => model.FuncionarioID)
        <div class="form-group">
            @Html.Label("Nome do Funcionario", new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.Nome, new { @class = "form-control", @placeholder = "Nome do funcionario" })
                @Html.ValidationMessageFor(model => model.Nome, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("CPF", new { @class = "control-label col-sm-3" })
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.CPF, new { @class = "form-control", @placeholder = "CPF" })
                @Html.ValidationMessageFor(model => model.CPF, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Telefone", new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.Telefone, new { @class = "form-control", @placeholder = "Telefone" })
                @Html.ValidationMessageFor(model => model.Telefone, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Senha", new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.PasswordFor(model => model.Senha, new { @class = "form-control", @placeholder = "Senha" })
                @Html.ValidationMessageFor(model => model.Senha, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Confirme a senha", new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.PasswordFor(model => model.ConfirmacaoDaSenha, new { @class = "form-control", @placeholder = "Confirmação da senha" })
                @Html.ValidationMessageFor(model => model.ConfirmacaoDaSenha, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Salvar" class="btn btn-primary">
            </div>
        </div>
    </fieldset>
    }
</div>
