@using EasyPark.Models
@model List<Automovel>
@{
    ViewBag.Title = "AutomovelCadastrado";
    Layout = "~/Views/Shared/Layout.cshtml";

}

<div>

    @Html.ActionLink("Cadastrar um novo automovel", "CadastrarAutomovel", "Automovel")

    <table class="table table-hover table-striped" style="margin-top:30px">
        <tr>
            <th>Placa</th>
            <th>Dono</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Tipo</th>
            <th></th>
        </tr>
        @foreach (Automovel automovelCadastrado in Model)
        {
            <tr>
                <td>@automovelCadastrado.Placa</td>
                <td>@automovelCadastrado.Cliente.Nome</td>
                <td>@automovelCadastrado.Marca</td>
                <td>@automovelCadastrado.Modelo</td>
                <td>@automovelCadastrado.Tipo</td>
                <td>
                    @Html.ActionLink("Remover", "RemoverAutomovel", "Automovel", new { id = automovelCadastrado.AutomovelID }, null)
                </td>
            </tr>
        }
    </table>

</div>


