<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        @Html.ActionLink("EasyPark", "Empresa", "Funcionario", null, new { @class = "navbar-brand" })

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                @if (Request.IsAuthenticated)
                {
                    <li class="nav-item active">
                        @Html.ActionLink("Vagas", "MostrarVagas", "Historico", null, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item active">
                        @Html.ActionLink("Cadastrar Cliente", "CadastrarCliente", "Cliente", null, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item active">
                        @Html.ActionLink("Cadastrar Funcionário", "CadastrarFuncionario", "Funcionario", null, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item active">
                        @Html.ActionLink("Clientes Cadastrados", "ClientesCadastrados", "Cliente", null, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item active">
                        @Html.ActionLink("Funcionários Cadastrados", "FuncionariosCadastrados", "Funcionario", null, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item active">
                        @Html.ActionLink("Sair", "Sair", "Funcionario", null, new { @class = "badge-lg badge-pill badge-danger nav-link", @style = "margin-left:10px" })
                    </li>
                }

                else
                {
                    <li class="nav-item active">

                    <li class="nav-item active">
                        @Html.ActionLink("Vagas", "Vagas", "Cliente", null, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item active">
                        @Html.ActionLink("API EasyPark", "VagasAPI", "Funcionario", null, new { @class = "nav-link" })
                    </li>

                    </li>

                    <li class="nav-item active">
                        @Html.ActionLink("Login", "Login", "Funcionario", null, new { @class = "badge-lg badge-pill badge-success nav-link", @style = "margin-left:10px" })
                    </li>
                }

            </ul>
        </div>
    </nav>

    <div id="content" class="container" style="margin-top:30px">
        @RenderBody()
    </div>

    <hr style="margin-top:30px" />
    <footer style="text-align:center">
        <p>&copy; @DateTime.Now.Year - Desenvolvido por EasySoftware</p>
    </footer>

</body>
</html>